.title {
  font-weight: 900;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero {
  padding: 4rem 0;
  text-align: center;
}

.featureTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.featureDescription {
  color: var(--mantine-color-dimmed);
}

.navButton {
  margin: 0 0.5rem;
}

.headerButtons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}